<h2>Accounts</h2>

@if (selectedAccounts$ | async; as selectedAccounts) {
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5 d-flex align-items-center">
    <button class="col d-flex align-items-start account-type btn btn-primary-outline" (click)="selectType(TypeEnum.Asset)">
        <i class="bi-bank"></i>
        <div>
            <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Assets</h3>
            <p>Assets store your money. It could be a bank account or cash.</p>
        </div>
    </button>
    <button class="col d-flex align-items-start account-type btn btn-primary-outline" (click)="selectType(TypeEnum.Income)">
        <i class="bi-graph-up-arrow"></i>
        <div>
            <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Incomes</h3>
            <p>Incomes are the sources of money you earn. It could be your salary, dividends or gifts.</p>
        </div>
    </button>
    <button class="col d-flex align-items-start account-type btn btn-primary-outline" (click)="selectType(TypeEnum.Expense)">
        <i class="bi-graph-down-arrow"></i>
        <div>
            <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Expenses</h3>
            <p>Expenses define where the money are spent. It could be rent, food or bills.</p>
        </div>
    </button>
</div>

<div style="margin: 1rem; width: 100%">
    <p-treeTable
        #accounts
        [value]="selectedAccounts"
        [scrollable]="true"
        [tableStyle]="{ 'min-width': '30rem' }"
        selectionMode="single"
        (onNodeSelect)="nodeSelect($event)"
    >
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="text-align: center">Name</th>
                <th style="width: 50%; text-align: center">Description</th>
                <th style="padding-right: 1rem">
                    <div style="display: flex">
                        <button (click)="addAccount('')" class="btn icon" data-toggle="tooltip" title="Add account">
                            <i class="bi-plus-circle see-account-transactions"></i>
                        </button>
                        <button
                            (click)="addAccountGroup()"
                            class="btn icon"
                            data-toggle="tooltip"
                            title="Add account group"
                            style="margin-left: auto"
                        >
                            <i class="bi-plus-circle-fill see-account-transactions"></i>
                        </button>
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
            <tr [ttRow]="rowNode" [ttSelectableRow]="rowNode">
                <td>
                    <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                    @if (rowNode.parent) {
                    <span>{{ rowData.name }}</span>
                    }@else {
                    <strong>{{ rowData.name }}</strong>
                    }
                </td>
                <td style="width: 50%">
                    {{ rowData.description }}
                </td>
                <td style="padding-right: 1rem">
                    <div style="display: flex">
                        @if (rowNode.parent) {
                        <span class="icon" style="min-width: 3.7rem"></span>
                        } @else {
                        <button (click)="addAccount(rowData.id)" class="btn icon" data-toggle="tooltip" title="Add account">
                            <i class="bi-plus-circle see-account-transactions"></i>
                        </button>
                        }
                        <button
                            (click)="seeAccountTransactions(rowData.id)"
                            class="btn icon"
                            data-toggle="tooltip"
                            title="See transactions"
                        >
                            <i class="bi-book see-account-transactions"></i>
                        </button>
                        <button
                            (click)="deleteAccount(rowData.id)"
                            class="btn icon"
                            data-toggle="tooltip"
                            title="Delete account"
                            style="margin-left: auto"
                        >
                            <i class="bi-x-circle delete-account"></i>
                        </button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-treeTable>
</div>

<p-dialog header="Account" [modal]="true" [(visible)]="modalVisible" [style]="{ width: '50rem', padding: '2rem' }">
    <div style="padding: 2rem">
        <app-account [account]="selected" [showType]="false" [showSave]="false"></app-account>
        <div class="flex justify-content-end gap-2">
            <p-button label="Cancel" severity="secondary" (onClick)="onCloseModal()" />
            <p-button label="Save" (onClick)="onSaveModal()" />
        </div>
    </div>
</p-dialog>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
} @else { Loading... }
