<h2>Accounts</h2>

<div
    class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5 d-flex align-items-center"
>
    <button
        class="col d-flex align-items-start account-type btn btn-primary-outline"
        (click)="showAssets()"
    >
        <i class="bi-bank"></i>
        <div>
            <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Assets</h3>
            <p>
                Assets store your money. It could be a bank account or your
                cash.
            </p>
        </div>
    </button>
    <button
        class="col d-flex align-items-start account-type btn btn-primary-outline"
        (click)="showIncomes()"
    >
        <i class="bi-graph-up-arrow"></i>
        <div>
            <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Incomes</h3>
            <p>
                Incomes are the sources of money you earn. It could be your
                salary, dividends or gifts.
            </p>
        </div>
    </button>
    <button
        class="col d-flex align-items-start account-type btn btn-primary-outline"
        (click)="showExpenses()"
    >
        <i class="bi-graph-down-arrow"></i>
        <div>
            <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Expenses</h3>
            <p>
                Expenses define where the money are spent. It could be rent,
                food or bills.
            </p>
        </div>
    </button>
</div>

<div style="margin: 1rem; width: 100%">
    <p-treeTable
        [value]="selectedAccounts"
        [scrollable]="true"
        [tableStyle]="{ 'min-width': '30rem' }"
        selectionMode="single"
    >
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
            <tr [ttRow]="rowNode">
                <td>
                    <p-treeTableToggler
                        [rowNode]="rowNode"
                    ></p-treeTableToggler>
                    @if (rowNode.parent) {
                    <span>{{ rowData.name }}</span>
                    }@else {
                    <strong>{{ rowData.name }}</strong>
                    }
                </td>
                <td style="width: 50%">{{ rowData.description }}</td>
                <td>
                    <!-- {{ toString(rowNode) }} -->
                    <div style="display: flex">
                        @if (rowNode.parent) { } @else {
                        <button (click)="deleteAccount(rowData.id)" class="btn">
                            <i
                                class="bi-plus-circle-fill see-account-transactions"
                            ></i>
                        </button>
                        }
                        <button (click)="deleteAccount(rowData.id)" class="btn">
                            <i class="bi-book see-account-transactions"></i>
                        </button>
                        <button
                            (click)="deleteAccount(rowData.id)"
                            class="btn"
                            style="margin-left: auto"
                        >
                            <i class="bi-x-circle delete-account"></i>
                        </button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-treeTable>
</div>
