.account-type {
    border: 1px solid black;
    border-radius: 30px;
    margin: 0.5rem;
}

.account-type:hover {
    background-color: #f0f0f0;
}

.account-type i {
    font-size: 3rem;
    margin-top: 1rem;
}

.account-type div {
    /* font-size: 1.5rem; */
    padding: 0.4rem;
}

.delete-account {
    color: gray;
    cursor: pointer;
    font-size: 2rem;
}

.delete-account:hover {
    color: red;
    cursor: pointer;
    font-size: 2rem;
}

.see-account-transactions {
    color: gray;
    cursor: pointer;
    font-size: 2rem;
}

.see-account-transactions:hover {
    color: rgb(68, 95, 245);
    cursor: pointer;
    font-size: 2rem;
}
