<h2>Bank importers</h2>

@if (bankImporters) {
<p-toast />
<p-table
    [value]="bankImporters"
    styleClass="p-datatable-striped"
    selectionMode="single"
    [(selection)]="selected"
    (onRowSelect)="onRowSelect($event)"
    [tableStyle]="{ 'min-width': '80%' }"
>
    <ng-template pTemplate="header">
        <tr>
            <th style="text-align: right; text-align: center">Name</th>
            <th style="text-align: center">Description</th>
            <th style="padding-right: 1rem">
                <div style="display: flex">
                    <button
                        (click)="addBankImporters()"
                        class="btn icon add-bankimporter"
                        data-toggle="tooltip"
                        title="Add Bank importer"
                        style="margin-left: auto"
                    >
                        <i class="bi-plus-circle add-bankimporter"></i>
                    </button>
                </div>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr [pSelectableRow]="product">
            <td style="text-align: right">
                {{ product.name }}
            </td>
            <td>{{ product.description }}</td>
            <td style="padding-right: 1rem">
                <div style="display: flex">
                    <button
                        (click)="onFetch(product.id)"
                        class="btn icon fetch-transactions"
                        data-toggle="tooltip"
                        title="Fetch transactions"
                    >
                        <i class="bi-cloud-download fetch-transactions"></i>
                    </button>

                    <button
                        (click)="deleteBankImporter(product.id)"
                        class="btn icon delete-bankimporter"
                        data-toggle="tooltip"
                        title="Delete Bank importer"
                        style="margin-left: auto"
                    >
                        <i class="bi-x-circle delete-bankimporter"></i>
                    </button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog header="Bank importer" [modal]="true" [(visible)]="modalVisible" [style]="{ width: '50rem', padding: '2rem' }">
    <div style="padding: 2rem">
        <app-bank-importer [value]="selected" [showType]="false" [showSave]="false"></app-bank-importer>
        <div style="display: flex">
            <span style="margin-left: auto"></span>
            <p-button label="Cancel" severity="secondary" (onClick)="onCloseModal()" />
            <p-button label="Save" (onClick)="onSaveModal()" />
        </div>
    </div>
</p-dialog>
} @else { Loading... }
