th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    text-align: left;
    padding: 0 0.5rem;
    font-size: large;
}

td {
    padding: 0.5rem;
    font-size: large;
}

.icon {
    font-size: 2rem;
}

.add-matcher {
    color: gray;
    cursor: pointer;
}

.add-matcher:hover {
    color: rgb(68, 95, 245);
    cursor: pointer;
}

.delete-matcher {
    color: gray;
    cursor: pointer;
}

.delete-matcher:hover {
    color: red;
    cursor: pointer;
}
