<h2>
    Transactions for
    <p-dropdown
        [options]="accounts"
        [(ngModel)]="selectedAccount"
        [checkmark]="true"
        optionLabel="name"
        placeholder="Select an account"
        (onChange)="onAccountChange()"
    />
</h2>

<div style="display: flex; align-items: baseline">
    <button type="button" class="btn btn-outline-primary" (click)="onPreviousDate()"><i class="bi-arrow-left-circle"></i></button>
    <p-calendar [(ngModel)]="dateFrom" (onSelect)="onCalendarSelect()" view="month" dateFormat="MM yy" />
    <button type="button" class="btn btn-outline-primary" (click)="onNextDate()"><i class="bi-arrow-right-circle"></i></button>

    <div class="btn-group" role="group" aria-label="Basic outlined example" style="margin-left: auto">
        <button
            type="button"
            class="btn btn-outline-primary"
            [ngClass]="dateRange === 0 ? 'active' : ''"
            (click)="onRangeChange(DateRange.DAY)"
        >
            Day
        </button>
        <button
            type="button"
            class="btn btn-outline-primary"
            [ngClass]="dateRange === 1 ? 'active' : ''"
            (click)="onRangeChange(DateRange.WEEK)"
        >
            Week
        </button>
        <button
            type="button"
            class="btn btn-outline-primary"
            [ngClass]="dateRange === 2 ? 'active' : ''"
            (click)="onRangeChange(DateRange.MONTH)"
        >
            Month
        </button>
    </div>

    <div style="margin-left: auto">
        <p-inputGroup>
            <p-inputSwitch [(ngModel)]="showExpenses" (onChange)="onShowExpenses()" />Expenses
            <p-inputSwitch [(ngModel)]="showIncomes" (onChange)="onShowIncomes()" />Incomes
        </p-inputGroup>
    </div>
</div>

@if (transactions && meterGroupData) {
<p-meterGroup [value]="meterGroupData" />
<p-table
    [value]="transactions"
    styleClass="p-datatable-striped"
    selectionMode="single"
    [(selection)]="selected"
    (onRowSelect)="onRowSelect($event)"
    [tableStyle]="{ 'min-width': '80%' }"
>
    <ng-template pTemplate="header">
        <tr>
            <th style="text-align: right; text-align: center">Date</th>
            <th style="text-align: center">Counter account</th>
            <th style="text-align: center">Description</th>
            <th style="text-align: center">Amount</th>
            <th style="padding-right: 1rem">
                <div style="display: flex">
                    <button
                        (click)="addTransaction()"
                        class="btn icon add-transaction"
                        data-toggle="tooltip"
                        title="Add transaction"
                        style="margin-left: auto"
                    >
                        <i class="bi-plus-circle add-transaction"></i>
                    </button>
                </div>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr [pSelectableRow]="product">
            <td style="text-align: right">{{ product.date | date : "dd MMM yyyy" }}</td>
            <td>
                {{ product.movements[0].account.name }}
            </td>
            <td>{{ product.description }}</td>
            <td style="min-width: 10rem">
                {{ product.movements[0].amount }}
                {{ product.movements[0].currency.name }}
            </td>
            <td style="padding-right: 1rem">
                <div style="display: flex">
                    <button
                        (click)="deleteTransaction(product.id)"
                        class="btn icon delete-transaction"
                        data-toggle="tooltip"
                        title="Delete transaction"
                        style="margin-left: auto"
                    >
                        <i class="bi-x-circle delete-transaction"></i>
                    </button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>
} @else { Loading... }
