<!-- <h3>Edit account</h3> -->
@if (account ) {
<!-- <div class="flex align-items-center gap-3 mb-3">
    <label for="username" class="font-semibold w-6rem">Username</label>
    <input pInputText id="username" class="flex-auto" autocomplete="off" />
</div>
<div class="flex align-items-center gap-3 mb-5">
    <label for="email" class="font-semibold w-6rem">Email</label>
    <input pInputText id="email" class="flex-auto" autocomplete="off" />
</div> -->
<form>
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="account.name" name="name" required />
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input type="text" class="form-control" id="description" [(ngModel)]="account.description" name="description" required />
    </div>
    @if (showType) {
    <div class="mb-3">
        <label for="type" class="form-label">Type</label>
        <select class="form-select" id="type" [(ngModel)]="account.type" name="type" required>
            <option value="asset">Asset</option>
            <option value="expense">Expense</option>
            <option value="income">Income</option>
        </select>
    </div>
    } @if (showSave) {
    <button type="submit" class="btn btn-primary">Save</button>
    }
</form>
} @else { Loading... }
